:root {
    --primary: #6dab29;
    --secondary: #1a5254;
    --tertiary: #c46998;
    --quaternary: #d3e5be;
    --quinary: #759798;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: #6c757d;

}

body {
    background-color: var(--quinary);
}

/* header & navigation style STARTS */

header {
    padding: 15px;
    background-color: var(--quaternary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;

}

header h1 {
    color: var(--primary);
}

header nav {
    display: flex;
    align-items: center;

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 0px 15px 0px 15px;
    font-size: 2vw;
    margin: 0;
    color: var(--secondary);
}

header nav ul li a:hover {
    color: var(--tertiary);
    text-decoration: none;

}

/* header & nav style ENDS */

img {
    width: 80px;
    height: 80px;

}

.container {
    padding: 5px;
    
}

.row {
    margin: 0;
    padding: 5px;

}

.add-pet,
.find-pets,
.view-pets,
.hello-pet,
.vet-login,
.client-login {
    background-color: var(--quaternary);
    border-radius: 5px;
    box-shadow: 0 0 10px var(--secondary);
    margin: 50px auto;
    width: 50%;

}

.microchip-input {
    display: flex;
    justify-content: center;
}
