<section class="container view-pets">
    <div class="card m-2">
        <div class="card-body">
            <h5>{{pet}}</h5>
            <p>{{owner}}</p>
            <p>{{isMicrochipped}}</p>
            <p>Pet info will go here!</p>
        </div>
    </div>
</section>