<section class="container view-pets">
    <h4>Pet Information</h4>
    <div class="card m-2">
        <div class="card-body">
            <h5>{{Pets.pet}}</h5>
            <p>{{Pets.owner}}</p>
            <p>{{Pets.isMicrochipped}}</p>
        </div>
    </div>
</section>