<section class="container view-pets">
    <div class="card m-2">
        <div class="card-body">
            <h5>Pet Name: {{pets}}</h5>
            <p> Owner Name: {{owner}}</p>
            <p>Microchipped? {{isMicrochipped}}</p>
        </div>
    </div>
</section>