<section class="client-login">
    <h4 class="text-center pt-3">Client Login</h4>
    <form class="container p-2">
        <div class="m-2">
            <input type="text" class="form-control" id="inputClientFirst" placeholder="First name">
        </div>
        <div class="m-2">
            <input type="text" class="form-control" id="inputClientLast" placeholder="Last name">
        </div>
        <div class="d-grid gap-3 col-3 mx-auto pb-3">
            <button type="submit" class="btn btn-outline-secondary">Get Pet</button>
        </div>
    </form>
</section>