{{!-- client login --}}
<head>
    <meta charset="UTF-8"></meta>
    <title>Chip Tracker!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <!-- header & navigation -->
    <header>
        <h1>
            <!-- placeholder image -->
            <img src="../images/logo.png">
            Chipper Pets
        </h1>
        <nav>
            <ul>
                <li>
                    <a href="">Vet Login</a>
                </li>
                <li>
                    <a href="">Client Login</a>
                </li>
                <li>
                    <a href="">Contact Us</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="client-login">
        <h4 class="text-center pt-3">Client Login</h4>
        <form class="container p-2">
            <div class="m-2">
                <input type="text" class="form-control" id="inputClientFirst" placeholder="First name">
            </div>
            <div class="m-2">
                <input type="text" class="form-control" id="inputClientLast" placeholder="Last name">
            </div>
            <div class="d-grid gap-2 col-2 mx-auto pb-3">
                <button type="submit" class="btn btn-outline-secondary">Login</button>
            </div>
        </form>
    </section>

</body>

</html>