{{!-- client main page --}}
{{!-- enter client name to get pet information --}}
<section class="find-pets">
    <div class="container">
        <div class="input-group m-1 row">
            <input type="text" class="form-control col-10" placeholder="First & Last Name">
            <!-- submit button to get pet from wall -->
            <button type="submit" class="btn btn-outline-secondary col-2 mr-1" id="button-addon">Get Pet</button>
        </div>
    </div>
</section>

{{!-- pet info container --}}
{{!-- for clients, we should add functionality to ONLY call their pet when the name is submitted --}}
    {{pet-info}}
</div>