{{! contact page }}

<section class="container contact">
    <div class="card m-2">
        <div class="card-body">
            <h4 class="card-title text-center">Email Us!</h4>
            <ul class="email-list text-center">
                <li>
                    <a class="emails" href="mailto:justinanakani@gmail.com">Justin Anakani</a>
                </li>
                <li>
                    <a class="emails" href="mailto:yuvalba45@gmail.com">Yuval Bashari</a>
                </li>
                <li>
                    <a class="emails" href="mailto:elysestanziale@gmail.com">Emily Arnholt</a>
                </li>
                <li>
                    <a class="emails" href="mailto:elysestanziale@gmail.com">Elyse Stanziale</a>
                </li>
            </ul>
        </div>
    </div>
</section>