{{!-- vet login --}}
<section class="vet-login">
    <h4 class="text-center pt-3">Vet Login</h4>
    <form class="container p-2 login">
        <div class="m-2">
            <input type="text" class="form-control" id="inputVetUser" placeholder="Username">
        </div>
        <div class="m-2">
            <input type="password" class="form-control" id="inputVetPassword" placeholder="Password">
            <input type="checkbox" onclick="showHide()">Show Password

            {{!-- insert code to add show/hide functionality to password for LOGIN--}}
            <script>
                function showHide() {
                    var showIt = document.getElementById("inputVetPassword");
                    if (showIt.type === "password") {
                        showIt.type = "text";
                    } else {
                        showIt.type = "password";
                    }
                }
            </script>

        </div>
        <div class="d-grid gap-2 col-2 mx-auto pb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-secondary">Login</button>
        </div>
    </form>
</section>

<section class="vet-login">
    <h4 class="text-center pt-3">Vet Sign-up</h4>
    <form class="container p-2 signup">
        <div class="m-2">
            <input type="text" class="form-control" id="sign-inputVetUser" placeholder="Choose Username">
        </div>
        <div class="m-2">
            <input type="password" class="form-control" id="sign-inputVetPassword" placeholder="Choose Password">
            <input type="checkbox" onclick="signUpShow()">Show Password

            {{!-- insert code to add show/hide functionality to password for SIGNUP--}}
            <script>
                function signUpShow() {
                    var newLogin = document.getElementById("sign-inputVetPassword");
                    if (newLogin.type === "password") {
                        newLogin.type = "text";
                    } else {
                        newLogin.type = "password";
                    }
                }
            </script>

        </div>
        <div class="d-grid gap-3 col-6 mx-auto pb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-secondary">Sign Up</button>
        </div>
    </form>
</section>