{{!-- vet login --}}
<section class="vet-login">
    <h4 class="text-center pt-3">Vet Login</h4>
    <form class="container p-2">
        <div class="m-2">
            <input type="text" class="form-control" id="inputVetUser" placeholder="Username">
        </div>
        <div class="m-2">
            <input type="text" class="form-control" id="inputVetPassword" placeholder="Password">
        </div>
        <div class="d-grid gap-2 col-2 mx-auto pb-3">
            <button type="submit" class="btn btn-outline-secondary">Login</button>
        </div>
    </form>
</section>

<section class="vet-login">
    <h4 class="text-center pt-3">Vet Sign-up</h4>
    <form class="container p-2">
        <div class="m-2">
            <input type="text" class="form-control" id="inputVetUser" placeholder="Choose Username">
        </div>
        <div class="m-2">
            <input type="text" class="form-control" id="inputVetPassword" placeholder="Choose Password">
        </div>
        <div class="d-grid gap-2 col-2 mx-auto pb-3">
            <button type="submit" class="btn btn-outline-secondary">Sign Up</button>
        </div>
    </form>
</section>