{{!-- vet main page --}}

{{!-- enter pet info to post data (vet only) --}}
<section class="add-pet">
    <form class="container">
        {{!-- take in pet name and breed info to post --}}
        <div class="input-group mb-3 row">
            <input type="text" class="form-control col" placeholder="Pet Name">
            <input type="text" class="form-control col" placeholder="Pet Breed">
        </div>
        {{!-- take in radio box input to post --}}
        <div class="microchip-input row">
            <div class="form-check form-check-inline col-3">
                <input type="radio" class="form-check-input" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Microchipped</label>
            </div>
            <div class="form-check form-check-inline col-3">
                <input type="radio" class="form-check-input" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Not Microchipped</label>
            </div>
            {{!-- submit button to post pet to wall --}}
            <button type="submit" class="btn btn-outline-secondary col-3">Add Pet</button>
        </div>
    </form>
</section>

{{!-- enter client name to get pet information -- can be utilized with User search --}}
<section class="find-pets">
    <div class="container">
        <div class="input-group m-1 row">
            <input type="text" class="form-control col-10" placeholder="Client Name">
            <!-- submit button to get pet from wall -->
            <button type="submit" class="btn btn-outline-secondary col-2 mr-1" id="button-addon">Get Pet</button>
        </div>
    </div>
</section>

{{!-- pet info container --}}
{{!-- we would add js functionality to append all pets into this list, 
unless called by owner name which would then show a singular pet --}}
<div>
    {{> pet-info}}
</div>