{{!-- main page --}}
<head>
    <meta charset="UTF-8"></meta>
    <title>Chip Tracker!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <!-- header & navigation -->
    <header>
        <h1>
            <!-- placeholder image -->
            <img src="../images/logo.png">
            Chipper Pets
        </h1>
        <nav>
            <ul>
                <li>
                    <a href="../views/vet-login.handlebars">Vet Login</a>
                </li>
                <li>
                    <a href="../views/client-login.handlebars">Client Login</a>
                </li>
                <li>
                    <a href="">Contact Us</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="card container text-center hello-pet" style="width: 50rem; height: 25rem;">
        <img src="../images/dogandcat.jpeg" class="card-img-top" style="height: 15rem; border-radius: 5px;">
        <div class="card-body">
            <h3 class="card-title">Chipper Pets</h3>
            <h4 class="card-text">Let us help you help us find your pet</h4>
        </div>
    </div>

</body>

</html>